@page "/Assignment08.1"

@rendermode InteractiveServer

<PageTitle>Ukolnicek</PageTitle>

<Dashboard />

@* <PageTitle>Home</PageTitle>

<h1>@ahojSvete</h1>

Vítej v mojí aplikaci.

@code
{
    string ahojSvete = "Ahoj světe z jiné stránky!";

} *@

<h1>@ahojSvete</h1>

Vítej mojí aplikaci!

<br>
<button @onclick="Increment">Moje tlačítko</button>

<br>
Hodnota počítadla: @counter;


@code
{
    string ahojSvete = "Ahoj světe!";

    int counter = 0;

    public void Increment()
    {
        counter++;
    }
}
