@page "/"
@rendermode InteractiveServer

<PageTitle>Ukolnicek</PageTitle>

<Dashboard />



<h1>@ahojSvete</h1>

Vítej mojí aplikaci!

<br>
<button @onclick="Increment">Moje tlačítko</button>

<br>
Hodnota počítadla: @counter;


@code
{
    string ahojSvete = "Ahoj světe!";

    int counter = 0;

    public void Increment()
    {
        counter++;
    }
}
